*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(172, 253, 253);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 50px;
    font-weight: 800;
    margin-top: 80px;
    margin-bottom: 100px;
}
.box{
    width: 450px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
}

.row-1{
    height: 100%;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}
.row-2{
    height: 100%;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}
.row-3{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.col{
    width: 100%;
    cursor: pointer;
    font-size: 100px;
    text-align: center;
    padding-top: 20px;
}
.right{
    border-right: 2px solid black;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
input{
    background-color: whitesmoke;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
}
p{
    color: black;
    font-size: 25px;
    font-weight: 800;
}
.start{
    font-size: 30px;
    background-color: whitesmoke;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: black;
    cursor: pointer;
}
.winningText{
    margin-top: 100px;
    display: none;
}
.restart{
    font-size: 30px;
    background-color: whitesmoke;
    padding: 10px;
    border: none;
    font-weight: 700;
    font-family: sans-serif;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    display: none;
    padding: 10px 80px;
    margin-top: 20px;
}